{:paths ["resources" "src"]

 :deps {org.clojure/clojure             {:mvn/version "1.9.0"}
        ch.qos.logback/logback-classic  {:mvn/version "1.2.3"
                                         :exclusions [org.slf4j/slf4j-api]}
        org.clojure/tools.logging       {:mvn/version "0.4.1"}
        cheshire                        {:mvn/version "5.8.0"}
        clj-http                        {:mvn/version "3.9.0"}
        digest                          {:mvn/version "1.4.8"}}

 :aliases {:outdated {:extra-deps {olical/depot {:mvn/version "1.2.0"}}
                      :main-opts  ["-m" "depot.outdated.main"]}
           :repl     {:extra-paths ["dev"]
                      :extra-deps {org.clojure/tools.nrepl {:mvn/version "0.2.13"}
                                   proto-repl {:mvn/version "0.3.1"}
                                   integrant/repl {:mvn/version "0.3.1"}
                                   proto-repl-charts {:mvn/version "0.3.2"}}
                      :main-opts ["-e" "(require,'[clojure.tools.nrepl.server,:refer,[start-server]]),(start-server,:port,60606)"]}}}
